.grid {
  width: calc(100vw - 2rem);
}

.table {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 4fr 1fr;
  margin: 0.5em 0;
  align-items: center;
}

.header {
  background-color: var(--color-secondary);
  font-weight: bold;
  padding: 0.5em 0;
  color: white;
}

hr {
  color: gray;
}

.status {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
}

.icon img {
  height: 100%;
  width: 100%;
}

.seleccionable:hover {
  cursor: pointer;
}

button.icon {
  background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
